

<div>
  {{!-- User Info --}}
  <div class="p-5 mb-4 bg-light rounded-3">
    {{> dashboard}}
    <div>
      <button href="#" class="btn btn-secondary btn" type="button">Settings</button>
      {{> videos/uploadVideo}}
    </div>
  </div>

  <div>
    {{> videos/profileVideos}}
    <a href="/profile/{{userFromDB._id}}/all-videos" >
    <button class="btn btn-primary btn" type="button">See All</button>
    </a>
  </div>
</div>
<script>

  const form = document.getElementById('upload-video') 
  const closedModal = document.getElementById('close-upload-modal') 
  form.onsubmit = (e) => {
    e.preventDefault() 
    closedModal.onclick = (e) => { 
      form.submit() 
    } 
  }
</script>