      {{> dashboard}}
      {{> videos/uploadVideo}}
      <a href="/profile/{{userProfile._id}}/accountSettings">
        <button type="button" class="btn btn-secondary">Settings</button>
      </a>  
      
      <div class="main-header anim" style="--delay: 0s">
        My Videos
      </div>
    {{> videos/profileVideos}}
    <a href="/profile/{{userProfile._id}}/all-videos" >
    <button class="btn btn-primary btn" type="button">See All</button> </a>

<script>

  const form = document.getElementById('upload-video') 
  const closedModal = document.getElementById('close-upload-modal') 
  form.onsubmit = (e) => {
    e.preventDefault() 
    closedModal.onclick = (e) => { 
      form.submit() 
    } 
  }
</script>