



    {{> dashboard}}

      {{> videos/uploadVideo}}
       <div class="main-header anim" style="--delay: 0s">
        My Videos
</div>
    {{> videos/profileVideos}}
    <a href="/profile/{{userProfile._id}}/all-videos" >
    <button class="btn btn-primary btn" type="button">See All</button> </a>

<script>

  const form = document.getElementById('upload-video') 
  const closedModal = document.getElementById('close-upload-modal') 
  form.onsubmit = (e) => {
    e.preventDefault() 
    closedModal.onclick = (e) => { 
      form.submit() 
    } 
  }
</script>