

<div>
  {{!-- OtherUser Info --}}

   
    {{> dashboard }}

  <div>

    <a href="/profile/{{userFromDB._id}}/all-videos" >
      <button class="btn btn-primary btn" type="button">See All</button>
    </a>
  </div>


</div>
