{{> dashboard }}
{{#with userProfile}}
<div channelName="{{channelName}}">
{{/with}}

  <div class="main-header anim" style="--delay: 0.8s font-weight:700;">
    My Videos
  </div>

 {{#if uploadedVideos.length}}
   {{> videos/uploadedVideos}}
   {{else}}
     <div class="main-header anim" style="--delay: 0.8s ">
    This user has no videos!  </div>
  {{/if}}

   {{#if likedVideos.length}}
  <div class='main-header anim' style='--delay: 0.8s font-weight:700;'>
    Liked Videos
  </div>
  {{> videos/likedVideos}}

    {{/if}}
</div>

<script src='/js/subscribe.js'></script>


<script>

    window.onload = () => {

    let subBtn = document.querySelector("button[subBtn]");
    let channelName = document.querySelector("div[channelName]").getAttribute('channelName')
    
    checkSubscribe(channelName).then(response => {
        if(response.data.subbed)
        {
          subBtn.classList.remove('red')
          subBtn.classList.add('green')
          subBtn.textContent= "Subscribed";

        } else{
          subBtn.classList.remove('green')
          subBtn.classList.add('red')
          subBtn.textContent= "Subscribe";
        }
      })
   

   subBtn.onclick = () => {
      updateSubscribe(channelName).then(response => {
        if(response.data.subbed)
        {
          subBtn.classList.remove('red')
          subBtn.classList.add('green')
          subBtn.textContent= "Subscribed";

        } else{
          subBtn.classList.remove('green')
          subBtn.classList.add('red')
          subBtn.textContent= "Subscribe";
        }
      })
  }
}
</script>