<div>
    {{> dashboard }}
  {{#with userProfile}}
    <span style="display: none;" id="userId">{{channelName}} </span>
    <div class='author-info'>   {{description}}
 </div>

    {{/with}}

  <div class="main-header anim" style="--delay: 0.8s font-weight:700;">
    My Videos
  </div>

  {{> videos/uploadedVideos}}

  <a href="/profile/{{userProfile._id}}/uploadedVideos">
    <button class="btn btn-primary btn" type="button">See All</button> 
  </a>
  <div class="anim" style="--delay: 0.5s">
    Liked Videos
  </div>
  {{> videos/likedVideos}}
  <a href="/profile/{{userProfile._id}}/likedVideos">
    <button class="btn btn-primary btn" type="button">See All</button> 
  </a>

</div>

<script src='/js/subscribe.js'></script>

<script>
    window.onload = () => {

    let subBtn = document.getElementById("subscribe");
    let action = subBtn.getAttribute("action")
    let id = document.getElementById("userId").textContent;

   subBtn.onclick = () => {
      submitSubscribe(id , { updateCriteria: action }).then(response => {

        location.reload()
      }).catch(err => console.log(err))
    }
}

</script>