<div>
    {{> dashboard }}
  {{#with userProfile}}
    <span style="display: none;" id="userId">{{channelName}} </span>
    <div class='author-info'>   {{description}}
 </div>

    {{/with}}

  <div class="main-header anim" style="--delay: 0.8s font-weight:700;">
    My Videos
  </div>

  {{> videos/uploadedVideos}}

  <a href="/profile/{{userProfile._id}}/uploadedVideos">
    <button class="btn btn-primary btn" type="button">See All</button> 
  </a>
  <div class="anim" style="--delay: 0.5s">
    Liked Videos
  </div>
  {{> videos/likedVideos}}
  <a href="/profile/{{userProfile._id}}/likedVideos">
    <button class="btn btn-primary btn" type="button">See All</button> 
  </a>

</div>

<script src='/js/subscribe.js'></script>


<script>

    window.onload = () => {

    let subBtn = document.getElementById("subscribe");
    let action = subBtn.getAttribute("action")
    let id = document.getElementById("userId").textContent;

       let divSUB = document.querySelector("div[follower]")
       let divSUBAction =  divSUB.getAttribute("follower")

     console.log( divSUBAction)

      if(divSUBAction ) {
      divSUB.innerHTML = `<button class="like red" id="subscribe" action="unsub">  Subscribed</button>  `;
      }
      else {
      divSUB.innerHTML = ` <button class="like green" id="subscribe" action="sub">  Subscribe</button>  `;
      }
/*  if(action == "unsub")
      {
        console.log("unsub")
        subbtn.removeAttribute("action");
        subbtn.setAttribute("action", "sub");
        subbtn.classList.remove('green');
        subbtn.classList.add('red');
        subbtn.textContent= "Subscribe";
      }
      else if(action == "sub") {
        console.log("sub")
        subbtn.removeAttribute("action");
        subbtn.setAttribute("action", "unsub");
         subbtn.classList.remove('red');
        subbtn.classList.add('green');
        subbtn.textContent="Subscribed"
      } */
   subBtn.onclick = () => {
      submitSubscribe(id , { updateCriteria: action }).then(response => {
        console.log("action : " + action)
    

      }).catch(err => console.log(err))
    } 
    */
}

</script>