
<div class="">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class='container-fluid py-5 d-flex align-items-center'>
      <img id='profile-page-pic' src='/images/icons/account.png' class='object-fit-contain' alt='account_circle' />
      <div>
        <h1 class='display-5 fw-bold'>{{userProfile.name.givenName}}</h1>
        <p class='col-md-8 fs-4'>{{userProfile.emails.0.value}}</p>
        <p>12k Subscribers</p></div>
    </div>
    <div>
      <button class="btn btn-secondary btn" type="button">Settings</button>
      {{> uploadVideo}}
    </div>
  </div>


</div>

<script>

  const form = document.getElementById('upload-video') 
  const closedModal = document.getElementById('close-upload-modal') 
  form.onsubmit = (e) => {
    e.preventDefault() 
    closedModal.onclick = (e) => { 
      form.submit() } }
</script>