<div class='section-header'>Related Videos</div>
{{#each relatedVideos}}
  <div class='related-video'>
    <img src='{{thumbnail}}' alt='' />
    <div>
      <div>{{title}}</div>
      <div>
        <div>{{author.channelName}}</div>
        <div>{{views}}views</div>
      </div>
    </div>
  </div>
{{/each}}