{{#with relatedVideos}}

          <div class="related-videos">
        {{#each relatedVideos}}
        <div class="">

            {{!-- <img src="{{thumbnail}}" alt=""> --}}
            <div>{{title}}</div>
          </div>
        {{/each}}
        </div>
    {{/with}}
