<div class='single-video-page'>
  <div class="video-panel-left">

    {{#with video}}
    {{>watchPage/video}}
    {{/with}}

    <div class='video-details'>

      {{>watchPage/videoDetailsUploader}}
    </div>
    <div class="review-list">

      {{>watchPage/reviews reviews=reviews}}
    </div>

  </div>
  <div class='recipe-panel-right'>
    {{#with video}}
    <div class='recipe'>
      {{>watchPage/recipe}}
    </div>
    {{/with}}

    <div class='related-videos'>
      {{>watchPage/relatedVideos}}
    </div>
  </div>

</div>


<script async='async' src='//platform.getbring.com/widgets/import.js'></script>
<script>

  /*Convert # of cooking time minutes to readable format*/
  let minutes = parseInt(cookTimeElement.getAttribute('cookTime'))

  if (minutes >= 60) {
    const hours = Math.floor(minutes / 60)
    minutes = Math.floor(minutes % 60)
    cookTimeElement.innerHTML = `${hours}h${minutes}m`
  }

</script>