<div class='header'>
  {{#if currentUser.channelName}}
  <div class='search-bar'>
    <form class="search" role='search' method='POST' action='/search'>
      <div class="search-wrapper">
        <input type='text' name='search' placeholder='Search' />
        <a id="filter-btn"> <img id="filter-img" width="20" src="/images/icons/arrow-down.png"> </img> </a>
      </div>
      <div class="search-filters">
        <div>
          <input type="checkbox" id="search-title" name="titleFilter">
          <label for="search-title">Title</label>
        </div>
        <div>
          <input type="checkbox" id="search-author" name="authorFilter">
          <label for="search-author">Author</label>
        </div>
        <div>
          <input type="checkbox" id="search-category" name="categoryFilter">
          <label for="search-category">Category</label>
        </div>
        <div>
          <input type="checkbox" id="search-tags" name="tagsFilter">
          <label for="search-tags">Tags</label>
        </div>
        <div>
          <input type="checkbox" id="search-all" name="allFilter">
          <label for="search-all">All</label>
        </div>
      </div>
    </form>
  </div>
  <div class='user-settings'>
        <a href="/profile">
          <img class='user-img' src={{currentUser.profilePic}} alt='profile-pic' />
        </a>      
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        {{currentUser.channelName}}      
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/profile"> <img src="/images/png/profile.png" alt="profile-pic"> My Channel</a></li>
        <li><a class="dropdown-item" href="/profile/{{currentUser._id}}/accountSettings"><img src="/images/png/settings.png" alt="settings"> Settings</a></li>
        <li><a class="dropdown-item" href="/logout"><img src="/images/png/logout.png" alt="logout"> Logout</a></li>
      </ul>
    </div>
    <div class="notify btn-group">
      <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" i>
        <img  width="35%" id="notiAnim" src="/images/png/notification.png">
       
      </button>
      <div class="dropdown-menu" id="dropDiv">
      </ul>
      </div>
    </div>


      


  </div>
  {{else}}
  <div class='search-bar'>
    <form role='search' method='POST' action='/search'>
 <div class="search-wrapper">
        <input type='text' name='search' placeholder='Search' />
      </div> 
     </form>
  </div>

  
  <div class='user-settings'>
    <div class="button-wrapper" style="">
      <a class="like" href="/login">
        <img src="/images/png/login.png" width="30%" style="margin-right:5px">
        Login
      </a>
    </div>

  </div>
  {{/if}}
</div>

<script>

  let filterBtn = document.getElementById('filter-btn')
  let filtersDiv = document.querySelector('.search-filters')


  window.addEventListener('DOMContentLoaded', (event) => {
    
    setInterval(updateNotification, 5000)

    filterBtn.addEventListener('click', () => {
      if (filtersDiv.style.display == 'none') {
        filtersDiv.style.display = 'flex'
        document.getElementById('filter-img').src = '/images/icons/arrow-up.png'
    } else {
        filtersDiv.style.display = 'none'
        document.getElementById('filter-img').src =
        '/images/icons/arrow-down.png'
      }
    })
  })

  const updateNotification = () => {
    axios
      .get(`/notification`, { headers: { 'Content-Type': 'application/json' } })
      .then((response) => {
        let dropDiv = document.getElementById('dropDiv')
        let notiAnim = document.getElementById('notiAnim')
        dropDiv.innerHTML = ''

        if (response.data.length > 0) {
        //  notiAnim.classList.add('notification')
         // notiAnim.style.backgroundColor = "green";
            notiAnim.src = '../../images/gif/alert.gif'
        }
        else {
         notiAnim.src = '../../images/png/notification.png'

        }

        let notifList = document.createElement('ul')
        response.data.forEach((user) => {
          let notifListItem = document.createElement('li')
          let aTag = document.createElement('a')
          aTag.setAttribute('href', `/messages/${user.sender._id}`)
          aTag.classList.add('dropdown-item')
          let textNode = document.createTextNode(user.sender.username)
          aTag.appendChild(textNode)
          notifListItem.appendChild(aTag)
          dropDiv.appendChild(notifListItem)
        })
      })
      .catch(function (error) {
        console.log('ERROR', error)
      })

    return true
  }

</script>