<div class='w-50'>

  <div class='sticky-top h-25'>
   <form action='/profile/{{userProfile._id}}/edit' method='post' enctype="multipart/form-data">
    <input type="hidden" id='edit-video-id' name="videoId" ></input>
    <input type="hidden" profileId={{userProfile._id}} name="profileId" ></input>

  <div>
    <span>Title</span>
    <input id='edit-video-title' name='title' type='text' />
  </div>

  <div>
    <span>Description</span>
    <textarea id='edit-video-description' name='description'></textarea>
  </div>

  <div>
    <label>Thumbnail</label>
    <input id='edit-video-thumbnail' name='thumbnail' type='file'>
    <img id='thumbnail-preview' src='' alt='Thumbnail Preview' style='max-width: 200px; max-height: 200px; margin-top: 10px;'>
  </div>
  
  <div>
    <span>Category</span>
    <select id='edit-video-category'>
      <option value='healthy'>Healthy</option>
      <option value='cheatMeal'>Cheat Meal</option>
    </select>
  </div>
  
  <button type='submit'>Update Video</button>
  <button delete type="button">
    Delete
  </button>
  
</form>

</div>

</div>

<script>
  window.onload = (e) => {

    const deleteBtn = document.querySelector('button[delete]')
    const profileId = document.querySelector('input[profileId]').getAttribute('profileId')
    
    
    
    deleteBtn.onclick = (e) => {
    const videoId = document.getElementById('edit-video-id').value

    axios.post(`/profile/${profileId}/delete`, {videoId}, {
                headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
                }          
            })
            .then((response) => {
               console.log('RES:',response);
               window.location.reload();
            })
            .catch( (error) =>{
                console.log('ERROR',error);
            });

    }
  }
</script>