

<div class='modal fade bd-example-modal-lg' id='exampleModalToggle' aria-hidden='true' aria-labelledby='exampleModalToggleLabel' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='exampleModalToggleLabel'>WeCook</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <form id='upload-video' action='/upload' method='post' enctype='multipart/form-data'>
        <div class='modal-body'>
          <div class='input-group mb-3'>
            <span class='input-group-text'>Title</span>
            <input name='title' type='text' class='form-control' placeholder='Video tile' />
          </div>

          <div class='mb-3'>
           <label for='formFile' class='form-label'>Add from device storage</label>
              <input
                class='form-control-file'
                name='video'
                type='file'
                id='formFile'
              />
          </div>
  <label for='formFile' class='form-label'>Add thumbnail from device storage</label>
              <input
                class='form-control-file'
                name='image'
                type='file'
                id='formFile'
              />
       

          <div class='form-text'>OR</div>

          <div class='input-group mb-3'>
            <span class='input-group-text'>Video URL</span>
            <textarea name='url' class='form-control'></textarea>
          </div>


          <div class='input-group mb-3'>
            <span class='input-group-text'>Description</span>
            <textarea name='description' class='form-control'></textarea>
          </div>

          <div class='form-text'>Please make sure you're uploading original
            content
          </div>

        </div>
        <div class='modal-footer'>
          <button class='btn btn-success' data-bs-target='#exampleModalToggle2' data-bs-toggle='modal'
            type='submit'>Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class='modal fade' id='exampleModalToggle2' aria-hidden='true' aria-labelledby='exampleModalToggleLabel2'
  tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='exampleModalToggleLabel2'>Upload</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        Video Uploaded

      </div>
      <div class='modal-footer'>
        <button id='close-upload-modal' type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>
<button class='btn btn-primary' data-bs-target='#exampleModalToggle' data-bs-toggle='modal'>Upload Video</button>



<script>


</script>
