<div id="upload-form" style="display:none;" >
    <form id='upload-video' action='/upload' method='post' enctype='multipart/form-data'>
    
      <label>Title </label> 
      <div class='video-input'>
        <textarea name='title' type='text' placeholder='Video tile' /> </textarea>
      </div>
      
      <span >Description</span>
      <div  class='video-input'> 
        <textarea name='description' ></textarea>
      </div>

       <span >Cooking time</span>
        <div class='video-input'> 
          <textarea name='cookTime'></textarea>
        </div>
      
      <span>Meal Type</span>
      <div class='video-input'>
        <div class="select">
          <select name="mealType">
            <option active>Breakfast</option>
            <option>Main Course</option>
            <option>Side Dish</option>
            <option>Snack</option>
            <option>Soup</option>
            <option>Appettizer</option>
            <option>Salad</option>
            <option>Drink</option>
          </select>
          <div class="select__arrow"></div>
        </div>     
      </div>

      <span>Ingredients</span>
      <div main-ingredients-container>
        <div class='video-input ingredients-input'>
          <small>Qty</small> 
          <input ingredient-quantity placeholder='150' name='ingredient-quantity'></input>
          <div class="select">
            <select ingredient-unit name="ingredient-unit">
              <option>unit</option>
              <option>ml</option>
              <option>cl</option>
              <option>dl</option>
              <option>L</option>
              <option selected>g</option>
              <option>kg</option>
              <option>tsp</option>
              <option>tbsp</option>
              <option>cup</option>
            </select>
            <div class="select__arrow"></div>
          </div>
          <input ingredient name='ingredient' type='text' placeholder='brown sugar' /> </input>
          <button class="btn btn-success" type="button" add-ingredient>+</button>
          <button class="btn btn-danger" type="button" remove-ingredient>-</button>   
        </div>
      </div>
      
      <span >Recipe</span>
      <div class='video-input'> 
        <textarea name='steps'></textarea>
      </div>
      
      <span >Category</span>
      <div class="select">
        <select name="category">
          <option>Healthy</option>
          <option>Cheat Meal</option>
        </select>
      <div class="select__arrow"></div>
    </div>
      <div main-tags-container>
        <div>Tags</div>  
        <div class='video-input d-flex'> 
          <input tag-input name='tag-input' ></input>
          <button class="btn btn-success w-25" type="button" add-tag>+</button>
        </div>
        <div new-tags-wrapper class="d-flex justify-content-center align-items-center pb-3">
          <div new-tags-container class="video-input"></div>
        </div>
      </div>
    
      <div class="d-flex justify-content-center align-items-center pb-3 w-100">
        <span >Upload Video file and Thumbnail</span>
      </div>

  <div class="file-drop-area">
    <span class="fake-btn">Choose files</span>
    <span class="file-msg js-set-number">or drag and drop files here</span>
    <input class="file-input" name='video' type='file' id='formFile'>
  </div>

<div class="file-drop-area">
  <span class="fake-btn">Choose files</span>
   <span class="file-msg js-set-number">or drag and drop files here</span>
     <input class="file-input" name='image' type='file' id='formFile'>
</div>
<center> 
  <div class='form-text' style="color:gray">
    Please make sure you're uploading original content
  </div>
</center>
    
    <div class='modal-footer' style="display:flex">
     
      <button uploadBtn class='btn btn-success'
        type='submit'>Upload</button>
    </div>
  </form>

</div>


<script>

  window.addEventListener("load", (event) => {
    //Global Vars
    const ingredientsList = []
    const tagsList = []
    
  
    //Open and close Upload Form 
    let uploadModal = document.querySelector("div[uploadModal]")
    let form = document.getElementById("upload-video")
    let formContainer = document.getElementById("upload-form")
    formContainer.style.transitionDelay =".1s";
    
    
    uploadModal.onclick = ((event) => {
      if (formContainer.style.display == "none") {
        formContainer.style.display = "flex"
        formContainer.classList.add('anim')
        formContainer.setAttribute("style", "--delay: 0.2s");
        uploadModal.scrollIntoView()
        const uploadBtn = document.querySelector('button[uploadBtn]')
        
        //INGREDIENTS INPUT

    //Adding new ingredients to Recipe 
    const addIngredientButton = document.querySelector('button[add-ingredient]')
    addIngredientButton.onclick = (e) => {
    
    // Get current values from form
    const ingredient = document.querySelector('input[ingredient]').value
    const quantity = document.querySelector('input[ingredient-quantity]').value
    const unit = document.querySelector('select[ingredient-unit]').value

    // Clone div and append below
    const ingredientsInput = document.querySelector('.ingredients-input')
    const newIngredientsInput = ingredientsInput.cloneNode(true)
    
    const removeIngredientButton = newIngredientsInput.querySelector('button[remove-ingredient]')
    
    removeIngredientButton.onclick = (e) => {
      e.target.closest('.ingredients-input').remove()
    }
    
    const newListItem = document.createElement('div')
    newListItem.classList.add("ingredients-input")
    newListItem.style.flexDirection = 'row-reverse' 
    newListItem.innerHTML = `<div class="added-ingredient">${ingredient} - ${quantity} ${unit==='unit'?'':unit}</div>`
    newListItem.appendChild(removeIngredientButton)
    
    ingredientsList.push({ingredient, quantity, unit})

    //reset firstline inputs
    const firstInputDiv = document.querySelector('div[main-ingredients-container]').children[0]
    firstInputDiv.querySelector('input[ingredient]').value = ''
    firstInputDiv.querySelector('input[ingredient-quantity]').value = ''
    firstInputDiv.querySelector('select[ingredient-unit]').value = ''

    ingredientsInput.parentNode.appendChild(newListItem)
  } 
    
    //TAGS

    //Adding new TAGS to Recipe 
    const addTagButton= document.querySelector('button[add-tag]')
    addTagButton.onclick = (e) => {
    
    // Get current values from form
    const tagInputDiv = document.querySelector('input[tag-input]')
    const newTag = tagInputDiv.value
        
    //append to the new tags container just below and add remove button   
    const newTagsDiv = document.querySelector('div[new-tags-container]')
    newTagsDiv.classList.add('d-flex', 'justify-content-center', 'align-items-center', 'flex-wrap', 'w-50')


    const newTagItem = document.createElement('div')
    newTagItem.classList.add('new-tag', 'p-2')
    newTagItem.innerHTML = newTag

    const removeTagBtn = document.createElement('button')
    removeTagBtn.type = 'button'
    removeTagBtn.classList.add('btn', 'btn-secondary')
    removeTagBtn.innerHTML = 'X'
    
    removeTagBtn.onclick = (e) => {
            e.target.closest('.new-tag').remove()
    }
       
    newTagItem.appendChild(removeTagBtn)

    //add to array to post with axios
    tagsList.push(newTag)

    //reset tag input
    tagInputDiv.value = ''
    
    newTagsDiv.appendChild(newTagItem)
    
  } 


  //FILE UPLOADS/DRAG AND DROP
  //Handle file uploads CSS
  let fileinput = document.querySelector('.file-input');
  let filedroparea = document.querySelector('.file-drop-area');
  let jssetnumber = document.querySelector('.js-set-number');
  fileinput.addEventListener('dragenter', isactive);
  fileinput.addEventListener('focus', isactive);
  fileinput.addEventListener('click', isactive);

  // back to normal state
  fileinput.addEventListener('dragleave', isactive);
  fileinput.addEventListener('blur', isactive);
  fileinput.addEventListener('drop', isactive);

  // add Class
  function isactive() {
    filedroparea.classList.add('is-active');
  }

  // change inner text
  fileinput.addEventListener('change', function() {
    let count = fileinput.files.length;
    if (count === 1) {
      // if single file then show file name
      jssetnumber.innerText = fileinput.value.split('\\').pop();
    } else {
      // otherwise show number of files
      jssetnumber.innerText = count + ' files selected';
    }
  });

        //uploading tags and ingredients to Backend
        uploadBtn.onclick = (e) => {

          e.preventDefault()
          console.log(form)
          let formData = new FormData(form)

          formData.append('ingredientsList', JSON.stringify(ingredientsList));
          formData.append('tagsList', JSON.stringify(tagsList));
          console.log("Form Sent to DB", formData)
          axios.post(`/upload`, formData, {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }          
            })
            .then((response) => {
               console.log('RES:',response.data);
               //window.location.href = `/watch/${response.data}`;
            })
            .catch( (error) =>{
                console.log('ERROR',error);
            });
          } 
          

     } else {
        formContainer.style.display = "none";
      }
    })

    
});

</script>